body {
    font-family: "Montserrat", sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
}

.titulo {
    width: 700px;
    margin: 20px auto;
    padding: 0;
    font-size: 1.6em;
}

.titulo h5 {
    padding: 10px 0;
    margin: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 700px;
    margin: 0 auto;
}

#contenedor_izq {
    margin-left: auto;
    padding: 0 20px 0 0;
}

#contenedor_der {
    margin-right: auto;
    padding: 0 0 0 20px;
}

#contenedor_izq #subtitulo_nombre {
    font-size: 2em;
}

#contenedor_izq #descripcion_uno {
    font-size: 1.3em;
}

#contenedor_izq #descripcion_dos {
    font-size: 1em;
}

#imagen_perfil {
    object-fit: cover;
    width: 330px;
    height: 430px;
    border-radius: 10px;
}

.carta {
    width: 340px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #253240;
    margin: 0 0 20px 0;
}

.carta img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.carta img:hover {
    cursor: pointer;
}

#proyectos_izq {
    padding: 0 10px 0 0;
}

#proyectos_der {
    padding: 0 0 0 10px;
}

.carta h4 {
    margin: 12px 0 12px 20px;
}

.subtitulo {
    width: 340px;
    font-size: 1.6em;
}

.subtitulo h5 {
    padding: 10px 0;
    margin: 0;
}

#experiencia_izq .subtitulo {
    padding: 0 20px 0 0;
}

.carta_vertical {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.carta_vertical img {
    width: 100%;
}

#contenedor_juegos {
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}

.contenedor_tarjetas ul {
    padding: 0;
}

.tarjeta {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px 10px 0;
    display: inline-block;
}

.tarjeta:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition-duration: 200ms;
}

#contenedor_redes {
    grid-template-columns: repeat(1, 1fr);
    border-radius: 10px;
    background-color: #243240;
    padding: 20px 0;
    height: auto;
    margin-bottom: 30px;
}

#contenedor_redes #cont_auxiliar {
    margin: auto;
}

#contenedor_redes #cont_auxiliar i {
    padding: 0 20px;
}

#boton_regresar {
    margin: 20px 25px;
}

#boton_regresar button {
    font-size: 1em;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    background-color: #1a1a1a;
    border: 1px solid white;
    color: white;
}

#boton_regresar button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition-duration: 200ms;
}

#pie_pagina {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}


#pie_pagina p {
    font-size: 0.9em;
}


@media (max-width: 770px) {
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
        width: 400px;
        margin-top: 0 auto;
    }

    #contenedor_izq {
        padding: 0;
    }

    #contenedor_der {
        padding: 0;
        margin: 0 auto;
    }

    #imagen_perfil {
        object-fit: cover;
        width: 400px;
        height: 430px;
        border-radius: 10px;
    }

    .titulo {
        width: 400px;
        margin: 20px auto;
        padding: 0;
        font-size: 1.6em;
    }

    #proyectos_izq {
        padding: 0;
        margin: 0 auto;
    }

    #proyectos_der {
        padding: 0;
        margin: 0 auto;
    }

    .carta {
        width: 400px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #253240;
        margin: 0 0 20px 0;
    }

    .carta img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .carta_vertical {
        width: 400px;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 auto;
    }

    .carta_vertical img {
        width: 100%;
    }

    #contenedor_juegos {
        grid-template-columns: repeat(1, 1fr);
        gap: 48px;
    }

    .contenedor_tarjetas ul {
        padding: 0;
    }

    .tarjeta {
        border: 1px solid whitesmoke;
        border-radius: 10px;
        padding: 10px;
        margin: 0 10px 10px 0;
        display: inline-block;
    }

    .tarjeta:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        transition-duration: 200ms;
    }

    #contenedor_redes {
        border-radius: 10px;
        background-color: #243240;
        padding: 20px 0;
        height: auto;
        margin-bottom: 30px;
    }

    #contenedor_redes #cont_auxiliar {
        margin: auto;
    }

    #contenedor_redes #cont_auxiliar i {
        padding: 0 15px;
    }

}

@media (max-width: 490px) {
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
        width: 300px;
        margin-top: 0 auto;
    }

    #contenedor_izq {
        padding: 0;
    }

    #contenedor_der {
        padding: 0;
        margin: 0 auto;
    }

    #imagen_perfil {
        object-fit: cover;
        width: 300px;
        height: 400px;
        border-radius: 10px;
    }

    .titulo {
        width: 300px;
        margin: 20px auto;
        padding: 0;
        font-size: 1.6em;
    }

    #proyectos_izq {
        padding: 0;
        margin: 0 auto;
    }

    #proyectos_der {
        padding: 0;
        margin: 0 auto;
    }

    .carta {
        width: 300px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #253240;
        margin: 0 0 20px 0;
    }

    .carta img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .carta_vertical {
        width: 300px;
        height: 380px;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 auto;
    }

    .carta_vertical img {
        width: 100%;
    }

    #contenedor_juegos {
        grid-template-columns: repeat(1, 1fr);
        gap: 48px;
    }

    #experiencia_izq, #herramientas_der, .subtitulo {
        width: 300px;
    }

    .contenedor_tarjetas ul {
        padding: 0;
    }

    .tarjeta {
        border: 1px solid whitesmoke;
        border-radius: 10px;
        padding: 10px;
        margin: 0 10px 10px 0;
        display: inline-block;
    }

    .tarjeta:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        transition-duration: 200ms;
    }

    #contenedor_redes {
        border-radius: 10px;
        background-color: #243240;
        padding: 20px 0;
        height: auto;
        margin-bottom: 30px;
    }

    #contenedor_redes #cont_auxiliar {
        margin: auto;
    }

    #contenedor_redes #cont_auxiliar i {
        padding: 8px;
    }
}